@charset 'utf-8';

@font-face {
    font-family: 'SpoqaHanSans';
    font-weight: normal;
    src: url('../font/NotoSansCJKkr-Regular.otf') format('truetype')

}

@font-face {
    font-family: 'SpoqaHanSans';
    font-weight: bold;
    src: url('../font/NotoSansCJKkr-Black.otf') format('truetype')
}

@font-face {
    font-family: 'Volte';
    src: url('../font/Volte\ Semibold.otf')
}

html {
    font-family: 'SpoqaHanSans', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    letter-spacing: -0.05em;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.global-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 76px;
    padding: 0 1rem;
}

.global-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.indicator-background {
    width: 300px;
    height: 3px;
    border-radius: 100px;
    background-color: #C3C6CB80;
}

#indicator-progress {
    height: 3px;
    border-radius: 160px;
    background-color: #C3C6CB;
}

.main-page-footer {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 8vh;
    justify-content: center;
    align-items: center;
}

.main-page-footer img {
    height: 8vh;
    z-index: -3;
}

.main-page-title {
    position: absolute;
    display: flex;
    top: 24vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-page-title-background {
    position: absolute;
    width: 470px;
    height: 470px;
    opacity: 0.4;
    background-image: conic-gradient(from 0.41turn, #ee2c49, #a4e21f 0.09turn, #11a8fd 0.69turn, #ee2c49);
    -webkit-filter: blur(200px);
    filter: blur(200px);
}

.main-page-title-wrapper {
    width: 470px;
    height: 470px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-page-title-wrapper small {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    opacity: 0.9;
    font-family: SpoqaHanSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: center;
}

.main-page-title-wrapper p {
    margin-top: 1vh;
    opacity: 0.9;
    font-family: Volte;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
}

.background-image {
    position: absolute;
}

.background-image.right {
    top: 10vh;
    right: 14vw;
    opacity: 0.45;
    z-index: -5;
}

.background-image.left {
    bottom: -19vh;
    left: 19.5vw;
    opacity: 0.45;
    z-index: -5;
}

.scroll-section {
    /* padding-top: 50vh; */
    border: 1px solid #ffffff;
}

#scroll-section-1 .main-message,
#scroll-section-4 .main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
	top: 40vh;
    margin: 5px 0;
    height: 3em;
    opacity: 0;
    text-align: center;
    font-family: SpoqaHanSans;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -3.6px;
}

#scroll-section-4 .flow-title {
    font-size: 50px;
    line-height: 1.4;
    letter-spacing: -3px;
    opacity: 0;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 5;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 1080px;
    border-radius: 3rem;
    border: solid 0.7rem #ffffff;
}

.title-box p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 9rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.5rem;
}

.flow-right {
    top: 35vh;
    right: 15vw;
}

.flow-left {
    top: 25vh;
    left: 15vw;
}

.triple-wrapper {
    opacity: 0;
    top: 15vh;
    position: fixed;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.triple-wrapper .triple-left {
    position: relative;
    display: flex;
    flex-direction: column;
}

.triple-wrapper .triple-center {
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.triple-wrapper .triple-right {
    position: relative;
    display: flex;
    flex-direction: column;
}

.triple-wrapper strong {
    font-family: Volte;
    font-size: 60px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -1.8px;
    text-align: center;
    margin-bottom: 40px;
}

.triple-wrapper img {
    margin-bottom: 77px;
    width: 225.3px;
    height: 209.3px;
}

.triple-wrapper h1 {
    font-family: SpoqaHanSans;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -2.4px;
    text-align: center;
    margin-bottom: 20px;
}

.triple-wrapper p {
    font-family: SpoqaHanSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -1px;
    text-align: center;
}

.flow-text strong {
    font-family: SpoqaHanSans;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -3px;
}

.flow-text p {
    margin-top: 40px;
    font-family: SpoqaHanSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: left;
}

.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 5;
}

.scroll-elem {
    display: none;
    position: fixed;
}

.sticky-elem-canvas {
    top: 0;
    height: 100%;
}

.sticky-elem-canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

.left-mock-screen {
    position: fixed;
    top: 18vh;
    left: 15vw;
    z-index: 5;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    border: solid 3px #ffffff;
}

.left-mock-screen-video {
    position: absolute;
    border-radius: 20px;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.right-mock-screen {
    position: fixed;
    top: 0;
    right: 0;
    width: 673px;
    height: 100%;
}

.right-mock-screen-video {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.sticky-elem-canvas {
    top: 0;
    width: 100%;
}

.sticky-elem-canvas canvas {
    position: fixed;
    top: 50%;
    left: 50%;
}

.sticky-elem-video {
    top: 0;
    height: 100%;
    /* width: 100%; */
}

.sticky-elem-canvas video {
    position: fixed;
    top: 50%;
    left: 50%;
}

#scroll-section-5 .index-1 {
    color: #ee2c49;
}

#scroll-section-5 .index-2 {
    color: #a4e21f;
}

#scroll-section-5 .index-3 {
    color: #11a8fd;
}

#scroll-section-7 {
	background: #ffffff;
	color: #000000;
}

.scroll-main-message {
    font-family: SpoqaHanSans;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -1.5px;
    text-align: center;
    padding-top: 12vh;
    padding-bottom: 55vh;
}

.sticky-background-image {
    position: fixed;
    top: 0px;
    left: 0px;
}

#scroll-section-7 {
    background-color: white;
}

#scroll-section-7 .scroll-area-wrapper {
    display: flex;
    flex-direction: column;
}

#scroll-section-7 .scroll-area-wrapper.two, 
#scroll-section-7 .scroll-area-wrapper.three {
    flex-direction: row;
    justify-content: space-between;
}

#scroll-section-7 .screen-title {
    top: 10vh;
    font-family: SpoqaHanSans;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -2.4px;
    text-align: center;
    margin-bottom: 50px;
}

#scroll-section-7 .screen-body {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#scroll-section-7 .screen-footer {
    bottom: 8vh;
    font-family: SpoqaHanSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: center;
}

#scroll-section-7 .flow-text strong {
    font-family: SpoqaHanSans;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -2.4px;
    text-align: left;
    margin-bottom: 40px;
}

#scroll-section-7 .flow-text {
    top: 38%;
}

#scroll-section-7 .flow-text p {
    font-family: SpoqaHanSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.44px;
    text-align: left;
}

.scroll-area-flow-text {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 32vh;
    left: 10vw;
}

.scroll-area-flow-text strong {
    font-family: SpoqaHanSans;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -2.4px;
    text-align: left;
    margin-bottom: 30px;
}

.scroll-area-flow-text p {
    font-family: SpoqaHanSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.44px;
    text-align: left;
}

#scroll-section-9 .flow-text {
    z-index: 10;
}

#scroll-section-9 .flow-text strong {
    font-family: SpoqaHanSans;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -2.4px;
}

#scroll-section-9 .flow-text p {
    font-family: SpoqaHanSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
}

#scroll-section-9 .screen-title {
    top: 10vh;
    width: 100%;
    font-family: SpoqaHanSans;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -2.4px;
    text-align: center;
}

#scroll-section-9 .screen-footer {
    bottom: 8vh;
    width: 100%;
    font-family: SpoqaHanSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: center;
}

body#show-scene-0 #scroll-section-0 .sticky-elem,
body#show-scene-1 #scroll-section-1 .sticky-elem,
body#show-scene-2 #scroll-section-2 .sticky-elem,
body#show-scene-3 #scroll-section-3 .sticky-elem,
body#show-scene-4 #scroll-section-4 .sticky-elem,
body#show-scene-5 #scroll-section-5 .sticky-elem,
body#show-scene-6 #scroll-section-6 .sticky-elem,
body#show-scene-7 #scroll-section-7 .sticky-elem,
body#show-scene-8 #scroll-section-8 .sticky-elem,
body#show-scene-9 #scroll-section-9 .sticky-elem,
body#show-scene-10 #scroll-section-10 .sticky-elem,
body#show-scene-11 #scroll-section-11 .sticky-elem {
    display: block;
}

body#show-scene-0 #scroll-section-0 .scroll-elem,
body#show-scene-1 #scroll-section-1 .scroll-elem,
body#show-scene-2 #scroll-section-2 .scroll-elem,
body#show-scene-3 #scroll-section-3 .scroll-elem,
body#show-scene-4 #scroll-section-4 .scroll-elem,
body#show-scene-5 #scroll-section-5 .scroll-elem,
body#show-scene-6 #scroll-section-6 .scroll-elem,
body#show-scene-7 #scroll-section-7 .scroll-elem,
body#show-scene-8 #scroll-section-8 .scroll-elem,
body#show-scene-9 #scroll-section-9 .scroll-elem,
body#show-scene-10 #scroll-section-10 .scroll-elem,
body#show-scene-11 #scroll-section-11 .scroll-elem {
    display: block;
}