@charset 'utf-8';

@font-face {
    font-family: 'SpoqaHanSans';
    font-weight: normal;
    src: url('../font/NotoSansCJKkr-Regular.otf') format('truetype')

}

@font-face {
    font-family: 'SpoqaHanSans';
    font-weight: bold;
    src: url('../font/NotoSansCJKkr-Black.otf') format('truetype')
}

@font-face {
    font-family: 'Volte';
    src: url('../font/Volte\ Semibold.otf')
}

html {
    font-family: 'SpoqaHanSans', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    letter-spacing: -0.05em;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.scroll-section {
    padding-top: 50vh;
    /* border: 1px solid #ffffff; */
}

#scroll-section-0 .main-title {
    position: relative;
    top: -15vh;
    z-index: 5;
    text-align: center;
}

#scroll-section-0 small {
    font-family: SpoqaHanSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.44px;
    text-align: left;
}

#scroll-section-0 h1 {
    padding-top: 2vh;
    font-weight: bold;
    font-family: Volte;
    font-size: 140px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -4.2px;
}

.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
	top: 40vh;
    margin: 5px 0;
    height: 3em;
    opacity: 1;
    text-align: center;
    font-family: SpoqaHanSans;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -3.6px;
}

#scroll-section-4 .flow-title {
    font-size: 50px;
    line-height: 1.4;
    letter-spacing: -3px;
    opacity: 0;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 30vh;
    width: 720px;
    height: 350px;
    border-radius: 20px;
    border: solid 3px #ffffff;
}

.title-box p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -3.6px;
}

.flow-right {
    top: 35vh;
    right: 15vw;
}

.flow-left {
    top: 25vh;
    left: 15vw;
}

.flow-text strong {
    font-family: SpoqaHanSans;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -3px;
}

.flow-text p {
    margin-top: 40px;
    font-family: SpoqaHanSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.2px;
    text-align: left;
}

.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 5;
}

.scroll-elem {
    display: none;
    position: fixed;
}

.sticky-elem-canvas {
    top: 0;
    height: 100%;
}

.sticky-elem-canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

.left-mock-screen {
    position: fixed;
    top: 18vh;
    left: 15vw;
    z-index: 5;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    border: solid 3px #ffffff;
}

.left-mock-screen-video {
    position: absolute;
    border-radius: 20px;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.right-mock-screen {
    position: fixed;
    top: 15vh;
    right: 0;
    width: 673px;
    height: 644px;
    border-radius: 20px 0px 0px 20px;
    border: solid 8px #2e3038;
}

.sticky-elem-canvas {
    top: 0;
    width: 100%;
}

.sticky-elem-canvas canvas {
    position: fixed;
    top: 50%;
    left: 50%;
}

.sticky-elem-video {
    top: 0;
    /* width: 100%; */
}

.sticky-elem-canvas video {
    position: fixed;
    top: 50%;
    left: 50%;
}

#scroll-section-5 .index-1 {
    color: #ee2c49;
}

#scroll-section-5 .index-2 {
    color: #a4e21f;
}

#scroll-section-5 .index-3 {
    color: #11a8fd;
}

body#show-scene-0 #scroll-section-0 .sticky-elem,
body#show-scene-1 #scroll-section-1 .sticky-elem,
body#show-scene-2 #scroll-section-2 .sticky-elem,
body#show-scene-3 #scroll-section-3 .sticky-elem,
body#show-scene-4 #scroll-section-4 .sticky-elem,
body#show-scene-5 #scroll-section-5 .sticky-elem,
body#show-scene-6 #scroll-section-6 .sticky-elem {
    display: block;
}

body#show-scene-0 #scroll-section-0 .scroll-elem,
body#show-scene-1 #scroll-section-1 .scroll-elem,
body#show-scene-2 #scroll-section-2 .scroll-elem,
body#show-scene-3 #scroll-section-3 .scroll-elem,
body#show-scene-4 #scroll-section-4 .scroll-elem,
body#show-scene-5 #scroll-section-5 .scroll-elem,
body#show-scene-6 #scroll-section-6 .scroll-elem {
    display: block;
}